.main-card-container{
    display: flex;
    cursor: pointer;
}
.room-no {
    max-width: 70px;
    width: 100%;
    padding: 6px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}
.comment-section { 
    padding: 0 10px;
    align-self: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

/* maintanance modal */
.main--container {
    position: absolute;
    height: 100vh;
    max-width: 460px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.modal_container {
    position: absolute;
    padding: 16px 24px 14px 24px;
    background-color: #F2F2F2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 334px;
    width: 100%;
}
.maintanance-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    height: 14px;
    width: 17px;
    filter: brightness(0.1);
    cursor: pointer;
}
.textarea-form-container {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.textarea-form-container textarea{
    font-family: 'Montserrat';
    border: none;
    padding: 5px 9px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    height: 57px;
}
.textarea-form-container textarea:focus {
    outline: none;
}
.textarea-form-container button {
    font-family: 'Montserrat';
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #58595B;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    height: 40px;
}
.resolve-section {
    display: flex;
    width: 100%;
    align-items: center;
}
.resolved-text{
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 40px;
}
.approved-container {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    align-items: center;
}
.approved-container div {
    display: flex;
    max-width: 120px;
    width: 100%;
    color: #FFFFFF;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.approved-container .yes {
    background-color: #54A92D;
}
.approved-container .no {
    background-color: #404040;
}